.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 500px;
  border-right: 1px solid black;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.bottom {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
