.month {
  width: 30%;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-weight: 400;
  padding: 5px;
}
.gender {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 30%;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 4px;
}
